Screen {
    background: #000000;
    align: center middle;
    border: #456882 panel;
}

Container {
    align: center middle;
    max-width: 30%;
    max-height: 70%;
}

TimerDisplay {
    color: #FFFF00;
    align: center middle;
    height: auto;
    width: 100%;
    text-align: center;
}

#time-selector {
    background: #0000ee;
    align: center middle;
    grid-size: 1 3;
}

#timer-grid {
    align: center middle; 
    height: 100%;
    width: 100%;
}

#btn-25 {
  background: #456882;
  width: 40;
  height: 5;
}

#btn-30 {
  background: #456882;
  width: 40;
  height: 5;
}

#btn-45 {
  background: #456882;
  width: 40;
  height: 5;  
}


