Screen {
    background: #211832;
    align: center middle;
    border: #456882 panel;
}

TimerDisplay {
    color: #FFFFFF;
    align: center middle;
    width: auto;
    height: auto;
    padding: 1 5;
  }

#main-grid {
    grid-size: 1 2;
    align: center middle;
    height: 100%;
    width: 100%;
}

#time-selector {
    background: #211832;
    align: center middle;
    grid-size: 1 3;
}

#timer-grid {
    layout: grid;
    align: center middle; 
    height: 100%;
    width: 100%;
}

#btn-25 {
  background: #456882;
  width: 40;
  height: 5;
}

#btn-30 {
  background: #456882;
  width: 40;
  height: 5;
}

#btn-45 {
  background: #456882;
  width: 40;
  height: 5;  
}


