Screen {
    background: #11112b;
    align: center middle;
}

.buttons-container {
    background: #4169e1;
    align: center middle;
}

#btn-25 {
  border: heavy white 
}

#btn-30 {
  border: heavy white
}

#btn-45 {
  border: heavy white
}

