Screen {
    background: #4D3288;
    align: center middle;
    border: panel;
}

#main-grid {
    grid-size: 1 2;
    align: center middle;
    height: 100%;
    width: 100%;
}

#time-grid {
    background: #211832;
    align: center middle;
    grid-size: 1 3;
}

#btn-25 {
  background: #456882;
  width: 40;
  height: 5;
}

#btn-30 {
  background: #456882;
  width: 40;
  height: 5;
}

#btn-45 {
  background: #456882;
  width: 40;
  height: 5;  
}

