Screen {
    background: #4D3288;
    align: center middle;
    border: panel;
}

Grid {
    background: #4D3288;
    align: center middle;
    grid-size: 3 1;
}

#btn-25 {
  background: #f9a87b;
}

#btn-30 {
  background: #f9a87b;
}

#btn-45 {
  background: #f9a87b;
}

