Screen {
    background: #4D3288;
    align: center middle;
    border: panel;
}

Grid {
    background: #4D3288;
    align: center middle;
    grid-size: 1 3;
}

#btn-25 {
  background: #f9a87b;
  width: 40;
  height: 5;
}

#btn-30 {
  background: #f9a87b;
  width: 40;
  height: 5;
}

#btn-45 {
  background: #f9a87b;
  width: 40;
  height: 5;
}

