Screen {
    background: #11112b;
    align: center middle;
}

Grid {
    background: #4169e1;
    align: center middle;
    grid-size: 3 1;
}

#btn-25 {
  border: heavy white 
}

#btn-30 {
  border: heavy white
}

#btn-45 {
  border: heavy white
}

